### Tuples

## It is a collection of different data types separated by,and enclosed by, and enclosed with()

In [64]:
t=(1,2,3,4,"hii","kvsw")
t

(1, 2, 3, 4, 'hii', 'kvsw')

In [65]:
type(t)

tuple

In [66]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [2]:
t1=(2,3,4,5,"mstp","kvsw")
type(t1)

tuple

In [67]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [3]:
t1.count(2)

1

In [4]:
t1.index("kvsw")

5

In [5]:
t1[0]

2

In [6]:
t1[-2]

'mstp'

t1[1:]

In [2]:
t1*2

NameError: name 't1' is not defined

In [1]:
print(t+t1)

NameError: name 't' is not defined

In [1]:
t[0]/3

NameError: name 't' is not defined

## Set
It is a collection of elements separated by,enclosed{}. it doesn't has index.the elements unordered.

In [3]:
s={1,2,3,5,9,1,2,3}
type(s)
s

{1, 2, 3, 5, 9}

In [4]:
s={"apple","custard apple","mango"}
print(type(s))
s

<class 'set'>

{'apple', 'custard apple', 'mango'}

In [5]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [7]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [8]:
se={1,2,3,4,5}
se

{1, 2, 3, 4, 5}

In [9]:
se.add(9)
se

{1, 2, 3, 4, 5, 9}

In [11]:
se.clear()
se

set()

In [12]:
set1={9,9,8,1,3,5,6}
set1

{1, 3, 5, 6, 8, 9}

In [14]:
setcopy=set1.copy()
setcopy

{1, 3, 5, 6, 8, 9}

In [15]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [18]:
m={9,8,5,3,6,2}
n={1,2,3,4,0}
o=m.difference(n)
o1=n.difference(m)
print(o)
print(o1)

{8, 9, 5, 6}
{0, 1, 4}

In [20]:
print(m.isdisjoint(n))
print(n.isdisjoint(m))

False
False

In [26]:
x={1,2,3}
y={4,5,6}
print(x.isdisjoint(y))
print(y.isdisjoint(x))

True
True

In [21]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [22]:
x={1,2,3,4}
y={2,3,5,9}
print(x.union(y))

{1, 2, 3, 4, 5, 9}

In [23]:
print(x.intersection(y))

{2, 3}

In [24]:
help(set.issubset)

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

In [27]:
print(x.issubset(y))
print(y.issubset(x))

False
False

## Acessing elements in set

In [32]:
s_t={3,4,5,3,7}
for mstp in s_t:
    print(mstp,end=",")

3,4,5,7,

In [37]:
s={1,2,3,4,5}
for mstp in range(len(s(mstp))):
    print(mstp,end=",")

TypeError: 'set' object is not callable

In [31]:
updated_set=y.update(x)
print(updated_set)

None

In [38]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [40]:
y

{1, 2, 3, 4, 5, 6}

In [41]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [42]:
x

{1, 2, 3}

In [43]:
y

{1, 2, 3, 4, 5, 6}

In [44]:
z=x.symmetric_difference(y)
z

{4, 5, 6}

In [46]:
x.pop()
x

{2, 3}

In [47]:
x.pop()
x

{3}

In [50]:
y

{1, 2, 3, 4, 5}

In [51]:
y.remove(2)
y

{1, 3, 4, 5}

In [52]:
y.discard(3)
y

{1, 4, 5}

In [56]:
l1=[5,6,7,8,9,9,2]
print(type(l1),l1)
x=set(l1)
print(type(x),x)

<class 'list'> [5, 6, 7, 8, 9, 9, 2]
<class 'set'> {2, 5, 6, 7, 8, 9}

In [62]:
#user input 5 6 7 8 8 5
#output  5 6 7 8
x=list(set(map(int,input().split())))
print(x)

5 6 7 8 8 5
[8, 5, 6, 7]

In [63]:
x=set(map(int,input().split()))
print(x)

5 6 7 8 8 5
{8, 5, 6, 7}