In [8]:
import numpy as np
import pandas as pd
ts=pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    1.076250
2000-02-29   -0.096457
2000-03-31   -0.803366
2000-04-30   -0.464357
Freq: M, dtype: float64

## Leading data

In [9]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.076250
2000-04-30   -0.096457
Freq: M, dtype: float64

## Lagging data

In [11]:
ts.shift(-5)

2000-01-31   NaN
2000-02-29   NaN
2000-03-31   NaN
2000-04-30   NaN
Freq: M, dtype: float64

In [12]:
ts.shift(-5,freq='M')

1999-08-31    1.076250
1999-09-30   -0.096457
1999-10-31   -0.803366
1999-11-30   -0.464357
Freq: M, dtype: float64

In [13]:
ts.shift(3,freq='M')

2000-04-30    1.076250
2000-05-31   -0.096457
2000-06-30   -0.803366
2000-07-31   -0.464357
Freq: M, dtype: float64

In [14]:
ts.shift(3,freq='D')

2000-02-03    1.076250
2000-03-03   -0.096457
2000-04-03   -0.803366
2000-05-03   -0.464357
dtype: float64

In [15]:
ts.shift(5,freq='y')

2004-12-31    1.076250
2004-12-31   -0.096457
2004-12-31   -0.803366
2004-12-31   -0.464357
Freq: M, dtype: float64

In [16]:
from datetime import datetime
from pandas.tseries.offsets import Day,MonthEnd

In [17]:
now=datetime(2020,12,11)
now

datetime.datetime(2020, 12, 11, 0, 0)

In [18]:
now+2*Day()

Timestamp('2020-12-13 00:00:00')

In [19]:
now+MonthEnd()

Timestamp('2020-12-31 00:00:00')

In [20]:
now+Day()

Timestamp('2020-12-12 00:00:00')

In [23]:
now+MonthEnd(2)

Timestamp('2021-01-31 00:00:00')

In [25]:
offset= MonthEnd()